@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: gray;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: lightgray;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.btn{
    border: 0;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.containers, .containers2, .containers3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    margin-top: 10px;
}
.containers > .child{
    background-color: grey;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    flex-shrink: 1;
    margin: 5px;
}
.containers2 > .child{
   background-color: grey;
   width: 500px;
   height: 200px; 
   border-radius: 10px;
   flex-shrink: 1;
   margin: 5px;
}
.containers3 > .child{
       background-color: grey;
   width: 200px;
   height: 170px; 
   border-radius: 10px;
   flex-shrink: 1;
   margin: 5px;
}
.subir{
   transform: rotateY(0%); 
}
.sumir{
    transform: translateY(100%);
}
.pop-up{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}
.pop-up-int{
    background-color: white;
    width: 100%;
    max-width: 500px;
    height: auto;
    min-height: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    transition: 0.3s;
}
.fechar{
    font-weight: bolder;
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}
.pop-up2{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}
.pop-up-int2{
    background-color: rgb(95, 1, 184);
    color: white;
    width: 100%;
    max-width: 700px;
    height: auto;
    min-height: 400px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    transition: 0.3s;
}
.fechar2{
    font-weight: bolder;
    position: absolute;
    top: -40px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;

}